.bookmark-action {
  position: absolute;
  width: 20rem;
  top: .1rem;
  background-color: #fff;
  box-shadow: .1rem .1rem .5rem var(--secondary-color);
  transition: all ease-in-out .3s;
  padding: .5rem 0;
  border-radius: .3rem;

  .action {
    text-align: center;
    padding: .5rem 1.5rem;
    background-color: transparent;
    transition: all ease-out .3s;
    text-transform: capitalize;
    font-size: 1.1rem;
    color: var(--primary-color);


    &:hover {
      cursor: pointer;
      background-color: darken($secondary-color, 20%);
    }
  }
}