:root{
  --primary-color:#292a2d;
  --secondary-color:rgba(241, 243, 244, 1);
  --secondary-color-light: rgba(241, 243, 244, .15);
  --accent-color: #1a73e8;
}

$primary-color:#292a2d;
$secondary-color:rgba(241, 243, 244, 1);
$secondary-color-light: rgba(241, 243, 244, .15);
$accent-color: #1a73e8;